@charset "utf-8";

div.nestedItem {
	margin: 5px;
}

div.headerLabel {
	display: block;
	font-size: 12pt;
	color: #898989;
	margin: 10px 4px;
	text-transform: uppercase;
}

div.headerLabel span {
	color: #898989;
}

div.form_row {
	display: inline-block;
}

div.form_row div {
	display: inline-block;
}

form label {
	display: block;
	clear: left;
	float: left;
	width: 200px;
}

table.entitytable {
	margin: 15px;
}

table.entitytable th {
	margin: 10px 4px;
	color: #898989;
	font-weight: normal;
	text-align: left;
	padding-right: 16px;
	vertical-align: top;
}

table.entitytable td {
	margin: 4px;
	color: #000000;
	font-weight: normal;
	text-align: left;
	border-width: 0px;
	border-style: none;
	vertical-align: top;
}

div.actions { /*	background-color: #dbebf5; */
	display: inline-block;
}

div.actionswithborder { /*	background-color: #dbebf5;
	border-width: 0px 0px 0px 3px;
	border-style: solid;
	border-color: #0070ba; */
	
}

div.actionsspacing {
	padding: 2px;
	margin: 25px 10px;
}

ul.itemlist {
	margin-left: 18px;
	list-style: square;
	list-style-image: url(images/arrow.png);
}

ul.itemlistaudio {
	margin-left: 18px;
	list-style: square;
	list-style-image: url(images/audio.png);
}

ul.itemlistvideo {
	margin-left: 18px;
	list-style: square;
	list-style-image: url(images/video.png);
}

ul.itemlistdoc {
	margin-left: 18px;
	list-style: square;
	list-style-image: url(images/doc.png);
}

ul.itemlisturl {
	margin-left: 18px;
	list-style: square;
	list-style-image: url(images/url.png);
}

ul.itemlistimg {
	margin-left: 18px;
	list-style: square;
	list-style-image: url(images/img.png);
}

div.inversa-errorlist {
	display: inline;
	margin: 4px;
	color: #DE0000;
	font-size: 10pt;
}

div.inversa-formerrorlist {
	display: block;
	margin: 4px;
	margin-bottom: 16px;
	color: #DE0000;
	font-size: 10pt;
}