/**
 * CSS www.ensemble-inversa.ch
 */
@charset "utf-8";

.inversa-textbox,.inversa-textarea,.inversa-numberfield,.inversa-selectbox,.inversa-passwordbox
	{
	min-width: 400px;
	margin: 4px;
}

.inversa-textarea {
	min-height: 100px;
}

.inversa-checkbox {
	margin: 4px !important;
}

.k-button {
	margin: 4px !important;
	min-width: 120px !important;
	font-size: 10pt;
}

.k-datepicker,.k-combobox,.k-dropdown,.k-numerictextbox {
	margin: 4px !important;
	min-width: 400px;
}

.k-numerictextbox .k-numeric-wrap .inversa-textbox {
	min-width: 0px !important;
	min-height: 24px !important;
}

a.inversa-formlink {
	margin: 4px !important;
}

form label {
	margin: 4px;
	color: #898989;
}

span.noentries {
	font-style: italic;
	color: #898989;
}