/**
 * CSS www.ensemble-inversa.ch
 */
@charset "utf-8";

.inversa-textbox,.inversa-textarea,.inversa-numberfield,.inversa-selectbox,.inversa-passwordbox
	{
	min-width: 400px;
	margin: 4px;
}

.inversa-textarea {
	color: #222;
	font-size: 100%;
	font-family: inherit;
	min-width: 392px;
	min-height: 80px;
	height: 80px;
	line-height: 1.6em;
	margin: 4px !important;
	padding-top: 2px;
	padding-right: 0.3em;
	display: inline-block;
	border: 1px solid #ABABAB;
	border-radius: 0px;
	resize: none; 
}

.inversa-checkbox {
	margin: 4px !important;
}

.k-button {
	margin: 4px !important;
	min-width: 120px !important;
	font-size: 10pt;
}

.k-datepicker,.k-combobox,.k-dropdown,.k-numerictextbox {
	margin: 4px !important;
	min-width: 400px;
}

.k-upload-files {
	margin: 4px !important;
}

.k-numerictextbox .k-numeric-wrap .inversa-textbox {
	min-width: 0px !important;
	min-height: 24px !important;
}

.k-filter-menu div span {
	display: block !important;
}

a.inversa-formlink {
	margin: 4px !important;
}

form label {
	margin: 4px;
	color: #898989;
}

td.no-entries {
	font-style: italic;
	color: #898989;
	margin-top: 20px;
	text-align: center;
}

td span.cellwithtooltip {
	color: #222222;
}

table.records_list tbody tr div button.k-button { 
	margin: 0px !important;
	padding: 0px 3px 0px;
}