@charset "utf-8";
/* CSS Document */
h4.date {
	margin: 0px;
	padding: 0px;
	margin-left: -4px;
	padding-left: 4px;
	margin-bottom: 6px;
	margin-bottom: 6px;
	font-weight: normal;
}

h4.today {
	font-size: 12pt;
}

div.defaultmenu {
	margin: 0px auto;
	padding: 0px;
	width: 1220px;
}

div.defaultcontent {
	position: relative;
	top: 0px;
	bottom: 0px;
	margin: 0px auto;
	width: 1220px;
}

div.fixdiv {
	position: absolute;
	padding: 0px;
	margin: 0px;
}

div.stackdiv {
	padding: 0px;
	margin: 0px;
	display: block;
}

div.maincontent {
	margin: 0px;
	margin-left: 385px;
	margin-top: 192px;
	padding: 0px;
	width: 675px;
	overflow: auto;
	display: inline-block;
}

div.maincontent:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

div.textcontent {
	margin-top: 27px;
	margin-left: 225px;
	margin-right: 42px;
	margin-bottom: 0px;
	font-size: 10pt;
	text-wrap: normal;
	word-wrap: normal;
}

div.clear {
	clear: both;
	height: 0;
	margin: 0;
	padding: 0;
	font-size: 0;
}

div.smalltext {
	font-size: 10pt;
}

a.content:link,a.content:visited {
	color: #ffffff;
	text-decoration: none;
}

a.content:hover,a.content:active,a.content:focus {
	text-decoration: none;
	color: #dfdfdf;
}

p {
	margin-bottom: 22px;
}

p.noentries {
	font-style: italic;
	color: #cccccc;
}

p.description {
	margin-top: 10px;
	margin-bottom: 16px;
	font-style: italic;
	color: #ffffff;
}

p.entry {
	margin-top: 4px;
	margin-bottom: 4px;
	color: #dedede;
}

span.content {
	color: #ffffff;
	font-size: 11pt;
}

span.details {
	font-size: 10pt;
}

ul.itemlistdoc {
	margin-left: 25px;
	font-size: 9pt;
	list-style-image: url(images/doc_white.png);
}

ul.itemlisturl {
	margin-left: 25px;
	font-size: 9pt;
	list-style-image: url(images/url_white.png);
}

table.songlist td {
	padding: 2px;
	padding-right: 8px;
	padding-left: 0px;
}

table.songlist td.col0 {
	font-weight: bold;
}

table.songlist td.col1 {
	padding-right: 24px;
}

table.songlist td.col3 {
	font-style: italic;
	padding-right: 24px;
}

div.inversa-video {
	max-width: 360px;
	margin-left: 14px;
}