{% extends 'OGInversaBundle:Admin:adminbase.html.twig' %}

{% block body %}
    <h1>Login</h1>
    <p>
        Sie betreten den Ensemble Inversa Administrator Bereich.<br />Bitte Login Daten eingeben!<br />
    </p>

    <form action="{{ path("_security_check") }}" method="post" id="login">
        <table class="formtable">
        <tr>
        <td><label for="username" class="formlabel">Benutzername</label></td>
        <td><input class="formtext" type="text" id="username" name="_username" value="{{ last_username }}" /></td>
        </tr>
        <tr>
        <td><label for="password" class="formlabel">Passwort</label></td>
        <td><input class="formtext" type="password" id="password" name="_password" /></td>
        </tr>
        </table><br />
	    
        {% if error %}
	        <div class="formerror">{{ error.message }}</div>
	    {% endif %}
    </form>
    
    <a href="#" onclick="$('#login').submit();" class="actionbutton"><span>Login</span></a>
{% endblock %}
