{# src/OG/InversaBundle/Resources/views/Default/index.html.twig #}
{% extends 'OGInversaBundle:Content:base.html.twig' %}

{% block title %}
    Ensemble Inversa | Querflöte
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/css/inversa.default.css" />
{% endblock %}

{% block js %}
  <script src="/js/inversa.default.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="content" style="width:1220px;">
    <div class="defaultcontent">
      <div id="memberwww" class="fixdiv smalltext" style="z-index:1">
      </div>      
      <div id="memberimage" class="fixdiv" style="left: 160px; top: 147px; z-index:1;">
        <img src="/images/flute/foto_marielle.png" />            
      </div>
      <div id="memberaddress" class="fixdiv smalltext" style="z-index:1">
         Bord 77<br />
         3924 St. Niklaus VS<br />
         +41 (0)76 474 28 47<br />
        <a href="mailto:marielle@ensemble-inversa.ch" class="inverse">E-Mail</a>
      </div>   
      <div id="membertitle" class="fixdiv" style="z-index:5; top: 123px;">
        <img src="/images/flute/typo_marielle.png" />
      </div>
      
      <div id="maincontent" class="maincontent stackdiv" style="background-color:#d31459">
        <div class="textcontent">
          <p>Marielle Oggier, Querflöte</p>
         <p>geboren in St.Niklaus (Schweiz, VS). Nach der Lateinmatura am Kollegium Brig studierte Marielle Oggier in der Querflötenklasse von Kiyoshi Kasai an der
Musikakademie der Stadt Basel. Im Jahre 2004 erhielt sie das Musikpädagogische Diplom und studierte in der Konzertklasse von Felix Renggli weiter. Im Juli 2007 erhielt sie das Konzertdiplom mit Auszeichnung an der Musikhochschule der Musikakademie
Basel.</p> 
<p>Seit 2001 unterrichtet sie an der Allgemeinen Musikschule Oberwallis die Querflötenklassen in Zermatt und Nikolaital. Nebenbei ist es Marielle Oggier ein wichtiges Anliegen, alle
Aspekte einer Musikerin zu realisieren. So sammelte sie als Orchestermusikerin Erfahrungen mit vielen Orchestern der Schweiz. Meisterkurse besuchte sie bei Felix Renggli und Aurèle Nicolet. 2006 war sie erste Flötistin bei der Lucerne Festival Academy unter Pierre Boulez. Seither spielt sie regelmässig in verschiedenen Orchestern der Schweiz und ist Mitglied des Orchèstre Symphonique du Jura.
Als Solistin wurde sie schon von einigen Orchestern im In- und Ausland engagiert. Gemeinsam mit drei ehemaligen Studienkolleginnen gründete sie 2007 das Flötenquartett Syrinx. Ausserdem ist sie Mitglied des Ensembles Spektrum (mit Schwerpunkt Zeitgenössischer Musik) und des Kammermusikensembles Inversa.</p>
<p>Im Jahr 2008 partizipiert sie an der CD-Aufnahme „Arpeggione“.</p>
		</div>
      </div>
      
      <div id="instrumentimage" class="stackdiv" style="margin-left:610px; z-index:2">
        <img src="/images/flute/typo_querfloete.png" />
      </div>
    </div>
    </div>
{% endblock %}
