{# src/OG/InversaBundle/Resources/views/Default/index.html.twig #}
{% extends 'OGInversaBundle:Content:base.html.twig' %}

{% block title %}
    Ensemble Inversa
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/css/inversa.home.css" />
{% endblock %}

{% block js %}
  <script src="/js/inversa.home.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <!-- Content Panel -->
    <div class="content" style="width:1304px">    
    <div class="homecontent">
      <div id="panflutetext" class="imagediv" style="left: 0px; top: 219px;  z-index:2">
        <img src="/images/home/hometypo_panfloete.png" />
      </div>
      <div id="panfluteimage1" class="imagediv" style="left: 153px; top: 192px; z-index:1">
        <img src="/images/home/bild1_panfloete.png" />
      </div>
      <div id="panfluteimage2" class="imagediv" style="left: 71px; top: 243px; z-index:1">
        <img src="/images/home/bild2_panfloete.png" />
      </div>
      <div id="panfluteimage3" class="imagediv" style="left: 153px; top: 264px; z-index:1">
        <img src="/images/home/bild3_panfloete.png" />
      </div>      
      <div id="violintext" class="imagediv" style="left: 793px; top: 411px;  z-index:2">
        <img src="/images/home/hometypo_violine.png" />
      </div>
      <div id="violinimage1" class="imagediv" style="left: 652px; top: 267px; z-index:1">
        <img src="/images/home/bild1_violine.png" />
      </div>
      <div id="violinimage2" class="imagediv" style="left: 724px; top: 459px; z-index:1">
        <img src="/images/home/bild2_violine.png" />
      </div>
      <div id="flutetext" class="imagediv" style="left: 202px; top: 507px;  z-index:2">
        <img src="/images/home/hometypo_querfloete.png" />
      </div>
      <div id="fluteimage1" class="imagediv" style="left: 385px; top: 408px; z-index:1">
        <img src="/images/home/bild1_querfloete.png" />
      </div>
      <div id="fluteimage2" class="imagediv" style="left: 479px; top: 555px; z-index:1">
        <img src="/images/home/bild2_querfloete.png" />
      </div>
      <div id="organtext" class="imagediv" style="left: 202px; top: 123px;  z-index:2">
        <img src="/images/home/hometypo_orgel.png" />
      </div>
      <div id="organimage1" class="imagediv" style="left: 469px; top: 147px; z-index:1">
        <img src="/images/home/bild1_orgel.png" />
      </div>
      <div id="organimage2" class="imagediv" style="left: 553px; top: 168px; z-index:1">
        <img src="/images/home/bild2_orgel.png" />
      </div>
      <div id="ensembleinversatext" class="imagediv" style="left: 200px; top: 339px; z-index:3">
        <img src="/images/home/hometypo_ensemble.png" />
      </div>
    </div>
    </div>
{% endblock %}
