{# src/OG/InversaBundle/Resources/views/Default/index.html.twig #}
{% extends 'OGInversaBundle:Content:base.html.twig' %}

{% block title %}
    Ensemble Inversa
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/oginversa/css/inversa.default.css') }}" />
{% endblock %}

{% block js %}
  <script src="{{ asset('bundles/oginversa/js/inversa.inversa.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="content" style="width:1220px;">
    <div class="defaultcontent">
      <div id="memberwww" class="fixdiv smalltext" style="z-index:1">
      </div>      
      <div id="memberimage" class="fixdiv" style="left: 160px; top: 219px; z-index:1;">
        <img src="{{ asset('bundles/oginversa/images/inversa/foto_ensemble.png') }}" />            
      </div>
      <div id="memberaddress" class="fixdiv smalltext" style="z-index:1">
      </div>   
      <div id="membertitle" class="fixdiv" style="z-index:5; top: 123px;">
        <img src="{{ asset('bundles/oginversa/images/inversa/typo_ensemble.png') }}" />
      </div>
      
      <div id="maincontent" class="maincontent stackdiv" style="background-color:#dd0000">
        <div class="textcontent">
          <p>Ensemble Inversa</p>
<p>Die Gründung des Ensembles Inversa erfolgt nach jahrelanger gemeinsamer Zusammenarbeit und etlichen Auftritten und Konzerten. Das Ensemble reagiert mit seiner modularen Struktur flexibel auf verschieden geartete Auftrittsplattformen und verspricht mit ungewohnten Besetzungsformen spannende Klangwelten. Das Ensemble kennt Besetzungen im Duo, Trio, Quartett und kann beliebig mit Gastmusikerinnen und Gastmusikern erweitert werden.</p> 
<p>Das Ensemble Inversa widmet sich der Aufführung neuster, aber auch alter Musik;
so sind einige zeitgenössische Kompositionen mit Erfolg uraufgeführt worden. In Zukunft erhofft sich das junge Ensemble noch mehr Originalwerke, die eigens für die speziellen und variierenden Besetzungsformen konzipiert sind.</p> 
<p>Der Kern des Ensembles besteht aus den Musikerinnen und Musikern Laida Alberdi (Violine), Hanspeter Oggier (Panflöte), Marielle Oggier (Querflöte) und Sarah Brunner (Orgel, Klavier).</p> 
                                 
		</div>
      </div>
    </div>
    </div>
{% endblock %}
