{# src/OG/InversaBundle/Resources/views/Default/index.html.twig #}
{% extends 'OGInversaBundle:Content:base.html.twig' %}

{% block title %}
    Ensemble Inversa
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/oginversa/css/inversa.default.css') }}" />
{% endblock %}

{% block js %}
  <script src="{{ asset('bundles/oginversa/js/inversa.inversa.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="content" style="width:1220px;">
    <div class="defaultcontent">
      <div id="memberwww" class="fixdiv smalltext" style="z-index:1">
      </div>      
      <div id="memberimage" class="fixdiv" style="left: 160px; top: 219px; z-index:1;">
        <img src="{{ asset('bundles/oginversa/images/inversa/foto_ensemble.png') }}" />            
      </div>
      <div id="memberaddress" class="fixdiv smalltext" style="z-index:1">
      </div>   
      <div id="membertitle" class="fixdiv" style="z-index:5; top: 123px;">
        <img src="{{ asset('bundles/oginversa/images/inversa/typo_ensemble.png') }}" />
      </div>
      
      <div id="maincontent" class="maincontent stackdiv" style="background-color:#dd0000">
        <div class="textcontent">
          <p>Ensemble Inversa</p><p>Inhalt</p>                       
		</div>
      </div>
    </div>
    </div>
{% endblock %}
