{# src/OG/InversaBundle/Resources/views/Default/index.html.twig #}
{% extends 'OGInversaBundle:Content:base.html.twig' %}

{% block title %}
    Ensemble Inversa | Orgel und Klavier
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/css/inversa.default.css" />
{% endblock %}

{% block js %}
  <script src="/js/inversa.default.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="content" style="width:1220px;">
    <div class="defaultcontent">
      <div id="memberwww" class="fixdiv smalltext" style="z-index:1">
      </div>      
      <div id="memberimage" class="fixdiv" style="left: 160px; top: 147px; z-index:1;">
        <img src="/images/organ/foto_sarah.png" />            
      </div>
      <div id="memberaddress" class="fixdiv smalltext" style="z-index:1">
        Napoleonstrasse 24<br />
        3930 Visp<br />
        +41 (0)79 323 40 88<br />
        <a href="mailto:sarah@ensemble-inversa.ch" class="inverse">E-Mail</a>
      </div>   
      <div id="membertitle" class="fixdiv" style="z-index:5; top: 123px;">
        <img src="/images/organ/typo_sarah.png" />
      </div>
      
      <div id="maincontent" class="maincontent stackdiv" style="background-color:#0070bc">
        <div class="textcontent">
          <p>Sarah Brunner, Orgel und Klavier</p>
          <p>wurde 1984 in Eischoll (Schweiz, VS) geboren. Sie studierte an der Hochschule Luzern Orgel bei Monika Henking, Kirchenmusik und Chorleitung bei Ulrike Grosch, Stefan Albrecht und Pascal Mayer. Jeweils mit Auszeichnung schloss sie 2008 das Lehrdiplom, 2009 das Konzertdiplom Orgel und Chorleitung ab. Ihr Studium für Orgel setzte Sarah Brunner an der Universität der Künste (UdK) Berlin bei Leo van Doeselaar fort, das sie im Sommer 2011 mit Erfolg abschloss. </p>
<p>Weiter besuchte sie Meisterkurse bei Wolfgang Rübsam und Wolfgang Zerer in Leipzig, Olivier Latry und Ben van Oosten in Haarlem (NL) und ist Preisträgerin des Alois Koch -  Preises 2009. Im September 2010 wurde Sarah Brunner im Rahmen des 8. Bad-Homburger Orgelfestivals FUGATO mehrmals ausgezeichnet: so erhielt sie den 3. Preis /Förderpreis für junge Organisten und den Publikumspreis „für ihr aussergewöhnliches Spiel auf Entscheidung des Publikums“ für junge Organisten.</p>
<p>Neben solistischen Auftritten ist sie regelmässig als Begleiterin von Chören und Solisten sowie Chorleitungsassistentin diverser Chöre tätig.</p>
<p>Seit 2012 ist Sarah Brunner Kirchenmusikerin in Visp und Zermatt.</p>
                                 
		</div>
      </div>
      
      <div id="instrumentimage" class="stackdiv" style="margin-left:610px; z-index:2; margin-top:-24px;">
        <img src="/images/organ/typo_orgel.png" />
      </div>
    </div>
    </div>
{% endblock %}
