@charset "utf-8";
 
/* Data Form */
table.formtable {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}
 
table.formtable tr {
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
}
 
table.formtable td {
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
}
 
table.formtable .formtext {
    border-style: solid;
    border-color: #979797;
    border-width: 1px;
    background-color: #e2e2e2;
    margin: 2px;
    margin-left: 16px;
}
 
table.formtable .formlabel {
    color: #484848;
    vertical-align: middle;
    padding-leftt: 12px;
    padding-right: 12px;
}
 
table.formtable .formfield {
    width: 350px;	
    padding: 5px;
}

table.formtable .formfield input {
	  width: 100%;
}
table.formtable .formfield textarea {
    width: 100%;
}
table.formtable .formfield .k-datepicker {
    width: 100%;
}

div.nestedItem {
	margin: 5px;
	background-color: #ff0000;
}

input.formbutton {
    border-style: solid;
    border-color: #979797;
    border-width: 1px;
    background-color: #e2e2e2;
    margin: 2px;
    font-weight: bold;
    min-width: 80px;
}
 
table.formtable .formerror {
    font-size: 9pt;
    color: #de0000;
    font-style: italic;
    margin: 2px 0px;
    padding: 0px;
}
 
.centered {
    display: block; /*allows the element to take auto margins*/
    margin: 0 auto; /*centers in compliant browsers*/
    text-align: center; /*centers in old versions of IE*/
}
 
/* Action List*/
span.actionlist {
    vertical-align: middle;
}
 
/* action button */
a.actionbutton {
    display: inline-block;
    height: 23px;
    padding: 0 0 0 3px;
    font-size: 10pt;
    color: #333;
    text-shadow: 1px 1px 0 #fff;
    background: url(/bundles/oginversa/images/actionbutton.png) 0 0
        no-repeat;
    white-space: nowrap;
    border: none;
    overflow: visible;
    cursor: pointer;
    text-decoration: none;
}
 
a.actionbutton>span {
    display: block;
    height: 23px;
    padding: 0 10px 0 8px;
    line-height: 23px;
    background: url(/bundles/oginversa/images/actionbutton.png) 100% 0
        no-repeat;
}
 
a.actionbutton>span>img {
    display: block;
    margin: 3px 1px 0px 0px;
}
 
a.actionbutton>span>img.withtext {
    display: block;
    margin: 3px 8px 0px 0px;
}
 
a.actionbutton:hover,a.actionbutton:focus {
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 0 #cccccc;
    background-position: 0 -150px;
}
 
a.actionbutton:hover>span,a.actionbutton:focus>span {
    background-position: 100% -150px;
}
 
a.actionbutton.mousedown {
    background-position: 0 -180px;
}
 
a.actionbutton.mousedown>span {
    background-position: 100% -180px;
}
 
/* Records Table */
table.records_list {
    width: 95%;
}
 
table.records_list th {
    font-weight: normal;
    font-size: 12pt;
    color: #979797;
    margin: 0px;
    margin-right: 10px;
    padding-bottom: 10px;
    text-align: left;
}
 
table.records_list tbody td {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e2e2e2;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: top;
}
 
table.records_list thead th.desccolumn {
    max-width: 400px;
}
 
table.records_list thead th.idcolumn {
    min-width: 24px;
}
 
span.noentries {
    color: #979797;
    font-size: 9pt;
    font-style: italic;
}