@charset "utf-8";
 
div.nestedItem {
	margin: 5px;
}

label.headerLabel {
	font-size: 10pt;
	font-color: #696969;
	font-weight: bold;
	margin: 5px 0px;
	display: block;	
}

form div { 
	display:block;
}

form label {
	display: block;
	clear: left;
    float: left;
	width: 200px;
}