input[type="text"],input[type="email"] {
	min-width: 290px;
	margin: 4px;
}

textarea {
	min-height: 130px;
	min-width: 288px;
	font: 100%/1.4 Arial, Helvetica, sans-serif;
	margin: 4px;
}

button {
	margin: 4px;
	min-width: 100px;
	min-heigt: 26px;
	font-size: 10pt;
}

form label {
	display: block;
	clear: left;
	float: left;
	width: 100px;
	color: #ffffff;
	margin: 4px 0px;
}

div.errors {
	color: #7F0000;
}